/*Style cho các phần có trong trang Cart page */
.title {
  max-width: 1200px;
  margin: 0px auto;
  padding: 32px 56px;
  font-style: italic;
  margin-bottom: 36px;
}
.title h2 {
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 1.7px;
}
.title p {
  color: #868686;
  font-size: 14px;
}

.listItemContainer {
  max-width: 1200px;
  margin: 48px auto;
}
.listItemContainer table {
  border-collapse: collapse;
}
.listItemTitle {
  height: 48px;
  background-color: #f8f9fa;
}

.listItemContainer th,
td {
  text-align: center;
}
.listItemContainer th {
  font-weight: 500;
  color: #495057;
  letter-spacing: 0.5px;
}
.listItemContainer td {
  font-weight: 400;
}
