.container {
  width: 100%;
  color: #868e96;
  font-size: 14px;
}
.prodForm {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 32px auto;
  gap: 8px;
}
.nameInput,
.categoryInput,
.priceInput {
  padding: 6px 12px;
  border: 1px solid #ced4da;
  color: #868e96;
  margin-bottom: 12px;
}
.fileInput {
  padding: 0px;
}
::placeholder {
  color: #868e96;
}
.shortdesc,
.longdesc {
  padding: 6px 12px;
  font-family: inherit;
  font-size: 14px;
  border: 1px solid #ced4da;
  color: #868e96;
  margin-bottom: 8px;
}
.submitBtn {
  align-self: flex-start;
  padding: 8px 12px;
  background-color: #5f76e8;
  color: white;
  border: none;
  border-radius: 2px;
  margin: 8px 0px;
}
.submitBtn:hover {
  cursor: pointer;
  opacity: 0.7;
}
