.backdrop {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
}
.modal {
  z-index: 25;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 180px;
}
.popupModal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.popupModal h3 {
  text-align: center;
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #5f76e8;
  margin: 0px;
  border-bottom: 1px solid #5f76e8;
}
.popupModal p {
  text-align: center;
  font-size: 14px;
}
